.loading {
    display: none;
    opacity: 0.2;
    margin: 50px auto 80px auto;
    border: 8px groove;
    border-radius: 50%;
    border-color: #5784ff #dedede;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 1.5s ease-in-out infinite;
    animation: spin 1.5s ease-in-out infinite;
    /* animation: spin 2s cubic-bezier(0.13, 0.01, 0.66, 0.98) infinite; // With rotate(900deg); */
}


@keyframes spin {
    0% { transform: rotate(45deg); opacity: 1; }
    50% { opacity: 0.5; }
    100% { transform: rotate(405deg); opacity: 1; }
  }

